:root {
    --header-color: darkblue;
    --border-description: 1px solid black;
    --box-shadow: 0 0 30px gray;

}

main {
    max-width: 840px;

}

nav {
    background-color: var(--header-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--header-color);
}

img {
    width: 150px;
    height: auto;
    width: var(--border-description);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

aside {
    background-color: gray;
    width: 20rem;
    padding: 1rem;
    Margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-description);
    padding: 1px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid gray;
    text-align: center;
}